name: Python Unittests

on:
  push:
    branches: [ main]
  pull_request:
    branches: [ main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Unittests
        run: |
          # Add lab1/src to PYTHONPATH so tests can import modules
          export PYTHONPATH=$PYTHONPATH:lab1/src
          python -m unittest discover -s lab1/test -p "test_unittest.py"

      - name: Notify success
        if: success()
        run: echo "Unittest tests passed successfully."

      - name: Notify failure
        if: failure()
        run: echo "Unittest tests failed."
