name: Lab 2 Model Evaluation

on:
  workflow_run:
    workflows: ["Lab 2 Model Retraining"]
    types:
      - completed

jobs:
  evaluate:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Download trained model artifact
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: lab2/models/

      - name: Evaluate model
        run: python lab2/src/evaluate_model.py

      - name: List metrics folder
        run: ls -lh lab2/metrics
